.card {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
 @media (max-width: 262px) {
    .card {
      padding: 15px;
      justify-content: center;
    }
  }
  .col-md-4 {
    width: 24%; 
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      width: 45%; 
    }
  }
  
  @media (max-width: 480px) {
    .col-md-4 {
      width: 100%; 
    }
  }
   