.Home{
  background: linear-gradient(90deg,#4286f4,#373b44);
  
}

.heading {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}


.header{
  text-align: center;
  color: rgb(11, 221, 151);
}